.nav-bar {
    background-color: rgb(214, 214, 214);
    color: black;
    border-bottom: solid 3px black;
    padding: 10px;
    button {
        background-color: rgb(223, 223, 223);
        color: black;
        font-size: 20px;
        font-family: noto sans;
        border: solid black 2px;
    }
}

body {
    background-color: white;
    color: black;
}